@model ExamParameter
@{
    ViewData["Title"] = "Sınav Parametreleri";
}

@if (Model == null)
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <p class="text-danger">Bir Parametre girişi yapılmamıştır. Lütfen paramatre ekleyiniz.</p>

    <form asp-action="ExamParameterAssign" asp-controller="ExamParameter" method="post">
        <div class="form-group row">
            <label for="example-number-input" class="col-md-2 col-form-label">Sınavda Çıkacak Soru Sayısı</label>
            <div class="col-md-4">
                <input class="form-control" type="number" value="10" min="10" max="200" asp-for="NumberOfQuestions">
                <span asp-validation-for="NumberOfQuestions" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-md-2 col-form-label">Sınav Süresi (Dakika)</label>
            <div class="col-md-4">
                <input class="form-control" type="number" value="10" min="10" max="300" asp-for="LengthOfExam">
                <span asp-validation-for="LengthOfExam" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Ekle" class="btn btn-info" />
        </div>
    </form>
}
else
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <form asp-action="ExamParameterAssign" asp-controller="ExamParameter" method="post">
        <div class="form-group row">
            <label for="example-number-input" class="col-md-2 col-form-label">Sınavda Çıkacak Soru Sayısı</label>
            <div class="col-md-4">
                <input class="form-control" type="number" value="@Model.NumberOfQuestions" min="10" max="200" asp-for="NumberOfQuestions">
                <span asp-validation-for="NumberOfQuestions" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-md-2 col-form-label">Sınav Süresi (Dakika)</label>
            <div class="col-md-4">
                <input class="form-control" type="number" value="@Model.LengthOfExam" min="10" max="300" asp-for="LengthOfExam">
                <span asp-validation-for="LengthOfExam" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Güncelle" class="btn btn-info" />
        </div>
    </form>
}