@model Category

@{
    ViewData["Title"] = "Kategori Ekle";
}

<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4 class="title">Sınıf Ekle</h4>
        </div>
        <div class="content">
            <form asp-action="Add" asp-controller="Category">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Kategori Adı</label>
                            <input asp-for="CategoryName" class="form-control" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Sınıf Seçiniz</label>
                            <select asp-for="ClassLevelId" asp-items="@ViewBag.ClassLevel" class="form-control"></select>
                            <span asp-validation-for="ClassLevelId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-info btn-fill pull-right">Ekle</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>