@{
    ViewData["Title"] = "Sonuç";
}

<div class="col-md-4"></div>

<div class="col-md-4">
    <label class="text-success">Doğru Sayısı</label>
    <label class="text-success">@Model.Correct</label>

    <label class="text-danger">Yanlış Sayısı</label>
    <label class="text-danger">@Model.Wrong</label>

    <label class="text-info">Boş Sayısı</label>
    <label class="text-info">@Model.Empty</label>
</div>